<div class="fw-flex fw-flex-middle fw-width-1-1 fw-overflow-hidden">
    <div class="fw-flex-shrink-no fw-mr-10">
        <div class="fw-height-80">
            <a href="#"><i class="icon icon-remove"></i></a>
        </div>
    </div>
    <div class="fw-flex-shrink-no fw-mr-10">
        <div class="fw-width-150 fw-height-80">
            <img src="http://placehold.it/150x80" alt="" class="fw-img-cover">
        </div>
    </div>
    <div class="fw-flex-grow-1 fw-mr-10">
        <div class="fw-height-80 fw-width-1-1 fw-flex fw-flex-space-between fw-flex-column">
            <div class="fw-width-1-1">
                <p class="fw-font-rubic fw-fz-16 fw-color-dark fw-margin-0 fw-text-overflow">Парфюмеря для мужчин и женщин от интернет-магазина Aromolux.ru</p>
            </div>
            <div class="fw-width-1-1 fw-mt-10">
                <div class="fw-flex fw-flex-middle">
                    <div class="fw-width-100 fw-flex-shrink-no"><span class="fw-font-rubic fw-font-light fw-fz-13">Номер купона:</span></div>
                    <div class="fw-flex-grow-1 fw-ml-10"><span class="fw-font-rubic fw-font-light fw-fz-13">67832-00003</span></div>
                </div>
                <div class="fw-flex fw-flex-middle fw-mt-10">
                    <div class="fw-width-100 fw-flex-shrink-no"><span class="fw-font-rubic fw-font-light fw-fz-13">Срок действия:</span></div>
                    <div class="fw-flex-grow-1 fw-ml-10"><span class="fw-font-rubic fw-font-light fw-fz-13">09.08.2017 - 09.09.2017</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fw-flex-shrink-no">
        <div class="fw-width-240 fw-height-80 fw-flex fw-flex-column fw-flex-space-between fw-flex-bottom">
            <div>
                <p class="fw-margin-0 fw-font-rubic fw-fz-25 fw-color-dark fw-font-medium">999 999 тг.</p>
            </div>
            <div class="fw-flex fw-flex-middle">
                <div>
                    <button class="button button-white button-circle fw-width-28 fw-height-28 fw-relative fw-backface-visibility-hidden">
                        <span class="fw-width-15 fw-height-1 fw-bg-color-dark fw-absolute fw-center-center"></span>
                    </button>
                </div>
                <div><span class="fw-block fw-min-width-40 fw-border-box fw-pl-5 fw-pr-5 fw-text-center fw-fz-18 fw-font-rubic fw-font-medium fw-color-dark">999</span></div>
                <div>
                    <button class="button button-white button-circle fw-width-28 fw-height-28 fw-relative fw-backface-visibility-hidden">
                        <span class="fw-width-15 fw-height-1 fw-bg-color-dark fw-absolute fw-center-center"></span>
                        <span class="fw-width-1 fw-height-15 fw-bg-color-dark fw-absolute fw-center-center"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>