<article class="article-product fw-width-1-1 fw-max-width-300">
    <div class="fw-width-1-1">
        <div class="fw-box-proportional-100">
            <div>
                <div class="fw-relative fw-height-1-1">
                    <img src="http://placehold.it/300x300" alt="" class="fw-img-cover">
                    <div class="article-product__hit"><span>Хит продаж</span></div>
                    <div class="article-product__sale"><span>-85%</span></div>
                    <a href="#" class="fw-absolute fw-width-1-1 fw-height-1-1 fw-left-0 fw-top-0 fw-z-index-2"></a>
                </div>
            </div>
        </div>
        <div class="fw-mt-10">
            <a  href="#" class="fw-text-underline-hover fw-color-dark">
                <p class="fw-text-overflow fw-font-rubik fw-font-medium fw-fz-16 fw-text-uppercase fw-inline-block fw-margin-0 fw-max-width-percent-100">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </a>
            <p class="fw-font-rubik fw-font-light fw-mt-5 fw-height-35 fw-mb-0 fw-fz-14 js-text-ellipsis fw-overflow-hidden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur et laboriosam molestiae nobis perspiciatis repellendus tempore. Animi eius esse tempore?</p>
            <div class="fw-mt-10">
                <span class="fw-font-rubik fw-font-medium fw-fz-18 fw-color-dark fw-flex fw-flex-bottom">от<span class="fw-text-line-through fw-font-light fw-ml-5 fw-mr-5">999999</span>999999 тг.</span>
            </div>
        </div>
    </div>
</article>