<section class="fw-bg-cover fw-bg-no-repeat" style="background-image: url('images/section-ads-contact.jpg')">
    <div class="container">
        <div class="fw-border-box fw-pt-100 fw-pb-80 fw-text-center">
            <p class="fw-font-rubic fw-fz-42 fw-color-dark fw-text-uppercase fw-margin-0 fw-font-medium">Хотите разместить рекламу?</p>
            <p class="fw-font-rubic fw-fz-25 fw-color-dark fw-mt-20 fw-mb-30 fw-font-light">По всем вопросам размещения рекламы пишите нам</p>
            <button class="button button-red fw-border-box fw-pt-15 fw-pb-15 fw-pr-40 fw-pl-40"><span class="fw-fz-14 fw-font-rubic fw-font-medium fw-text-uppercase">написать</span></button>
        </div>
    </div>
</section>