// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$clock-blue-name: 'clock-blue'
$clock-blue-x: 0px
$clock-blue-y: 229px
$clock-blue-offset-x: 0px
$clock-blue-offset-y: -229px
$clock-blue-width: 61px
$clock-blue-height: 65px
$clock-blue-total-width: 341px
$clock-blue-total-height: 294px
$clock-blue-image: '../images/sprite.png'
$clock-blue: (0px, 229px, 0px, -229px, 61px, 65px, 341px, 294px, '../images/sprite.png', 'clock-blue', )
$clock-name: 'clock'
$clock-x: 264px
$clock-y: 164px
$clock-offset-x: -264px
$clock-offset-y: -164px
$clock-width: 12px
$clock-height: 12px
$clock-total-width: 341px
$clock-total-height: 294px
$clock-image: '../images/sprite.png'
$clock: (264px, 164px, -264px, -164px, 12px, 12px, 341px, 294px, '../images/sprite.png', 'clock', )
$cup-blue-name: 'cup-blue'
$cup-blue-x: 0px
$cup-blue-y: 164px
$cup-blue-offset-x: 0px
$cup-blue-offset-y: -164px
$cup-blue-width: 66px
$cup-blue-height: 65px
$cup-blue-total-width: 341px
$cup-blue-total-height: 294px
$cup-blue-image: '../images/sprite.png'
$cup-blue: (0px, 164px, 0px, -164px, 66px, 65px, 341px, 294px, '../images/sprite.png', 'cup-blue', )
$facebook-circle-grey-name: 'facebook-circle-grey'
$facebook-circle-grey-x: 109px
$facebook-circle-grey-y: 229px
$facebook-circle-grey-offset-x: -109px
$facebook-circle-grey-offset-y: -229px
$facebook-circle-grey-width: 47px
$facebook-circle-grey-height: 46px
$facebook-circle-grey-total-width: 341px
$facebook-circle-grey-total-height: 294px
$facebook-circle-grey-image: '../images/sprite.png'
$facebook-circle-grey: (109px, 229px, -109px, -229px, 47px, 46px, 341px, 294px, '../images/sprite.png', 'facebook-circle-grey', )
$facebook-circle-name: 'facebook-circle'
$facebook-circle-x: 296px
$facebook-circle-y: 43px
$facebook-circle-offset-x: -296px
$facebook-circle-offset-y: -43px
$facebook-circle-width: 44px
$facebook-circle-height: 43px
$facebook-circle-total-width: 341px
$facebook-circle-total-height: 294px
$facebook-circle-image: '../images/sprite.png'
$facebook-circle: (296px, 43px, -296px, -43px, 44px, 43px, 341px, 294px, '../images/sprite.png', 'facebook-circle', )
$instagram-circle-grey-name: 'instagram-circle-grey'
$instagram-circle-grey-x: 156px
$instagram-circle-grey-y: 229px
$instagram-circle-grey-offset-x: -156px
$instagram-circle-grey-offset-y: -229px
$instagram-circle-grey-width: 47px
$instagram-circle-grey-height: 46px
$instagram-circle-grey-total-width: 341px
$instagram-circle-grey-total-height: 294px
$instagram-circle-grey-image: '../images/sprite.png'
$instagram-circle-grey: (156px, 229px, -156px, -229px, 47px, 46px, 341px, 294px, '../images/sprite.png', 'instagram-circle-grey', )
$instagram-circle-name: 'instagram-circle'
$instagram-circle-x: 296px
$instagram-circle-y: 0px
$instagram-circle-offset-x: -296px
$instagram-circle-offset-y: 0px
$instagram-circle-width: 45px
$instagram-circle-height: 43px
$instagram-circle-total-width: 341px
$instagram-circle-total-height: 294px
$instagram-circle-image: '../images/sprite.png'
$instagram-circle: (296px, 0px, -296px, 0px, 45px, 43px, 341px, 294px, '../images/sprite.png', 'instagram-circle', )
$mark-blue-name: 'mark-blue'
$mark-blue-x: 61px
$mark-blue-y: 229px
$mark-blue-offset-x: -61px
$mark-blue-offset-y: -229px
$mark-blue-width: 48px
$mark-blue-height: 63px
$mark-blue-total-width: 341px
$mark-blue-total-height: 294px
$mark-blue-image: '../images/sprite.png'
$mark-blue: (61px, 229px, -61px, -229px, 48px, 63px, 341px, 294px, '../images/sprite.png', 'mark-blue', )
$master-cart-name: 'master-cart'
$master-cart-x: 66px
$master-cart-y: 190px
$master-cart-offset-x: -66px
$master-cart-offset-y: -190px
$master-cart-width: 48px
$master-cart-height: 29px
$master-cart-total-width: 341px
$master-cart-total-height: 294px
$master-cart-image: '../images/sprite.png'
$master-cart: (66px, 190px, -66px, -190px, 48px, 29px, 341px, 294px, '../images/sprite.png', 'master-cart', )
$payment-types-name: 'payment-types'
$payment-types-x: 66px
$payment-types-y: 164px
$payment-types-offset-x: -66px
$payment-types-offset-y: -164px
$payment-types-width: 154px
$payment-types-height: 26px
$payment-types-total-width: 341px
$payment-types-total-height: 294px
$payment-types-image: '../images/sprite.png'
$payment-types: (66px, 164px, -66px, -164px, 154px, 26px, 341px, 294px, '../images/sprite.png', 'payment-types', )
$polygon-small-name: 'polygon-small'
$polygon-small-x: 164px
$polygon-small-y: 0px
$polygon-small-offset-x: -164px
$polygon-small-offset-y: 0px
$polygon-small-width: 132px
$polygon-small-height: 132px
$polygon-small-total-width: 341px
$polygon-small-total-height: 294px
$polygon-small-image: '../images/sprite.png'
$polygon-small: (164px, 0px, -164px, 0px, 132px, 132px, 341px, 294px, '../images/sprite.png', 'polygon-small', )
$polygon-name: 'polygon'
$polygon-x: 0px
$polygon-y: 0px
$polygon-offset-x: 0px
$polygon-offset-y: 0px
$polygon-width: 164px
$polygon-height: 164px
$polygon-total-width: 341px
$polygon-total-height: 294px
$polygon-image: '../images/sprite.png'
$polygon: (0px, 0px, 0px, 0px, 164px, 164px, 341px, 294px, '../images/sprite.png', 'polygon', )
$qiwi-wallet-name: 'qiwi-wallet'
$qiwi-wallet-x: 296px
$qiwi-wallet-y: 172px
$qiwi-wallet-offset-x: -296px
$qiwi-wallet-offset-y: -172px
$qiwi-wallet-width: 36px
$qiwi-wallet-height: 39px
$qiwi-wallet-total-width: 341px
$qiwi-wallet-total-height: 294px
$qiwi-wallet-image: '../images/sprite.png'
$qiwi-wallet: (296px, 172px, -296px, -172px, 36px, 39px, 341px, 294px, '../images/sprite.png', 'qiwi-wallet', )
$remove-name: 'remove'
$remove-x: 330px
$remove-y: 224px
$remove-offset-x: -330px
$remove-offset-y: -224px
$remove-width: 11px
$remove-height: 11px
$remove-total-width: 341px
$remove-total-height: 294px
$remove-image: '../images/sprite.png'
$remove: (330px, 224px, -330px, -224px, 11px, 11px, 341px, 294px, '../images/sprite.png', 'remove', )
$shopping-cart-name: 'shopping-cart'
$shopping-cart-x: 264px
$shopping-cart-y: 132px
$shopping-cart-offset-x: -264px
$shopping-cart-offset-y: -132px
$shopping-cart-width: 29px
$shopping-cart-height: 21px
$shopping-cart-total-width: 341px
$shopping-cart-total-height: 294px
$shopping-cart-image: '../images/sprite.png'
$shopping-cart: (264px, 132px, -264px, -132px, 29px, 21px, 341px, 294px, '../images/sprite.png', 'shopping-cart', )
$star-empty-name: 'star-empty'
$star-empty-x: 242px
$star-empty-y: 164px
$star-empty-offset-x: -242px
$star-empty-offset-y: -164px
$star-empty-width: 22px
$star-empty-height: 22px
$star-empty-total-width: 341px
$star-empty-total-height: 294px
$star-empty-image: '../images/sprite.png'
$star-empty: (242px, 164px, -242px, -164px, 22px, 22px, 341px, 294px, '../images/sprite.png', 'star-empty', )
$star-filled-name: 'star-filled'
$star-filled-x: 220px
$star-filled-y: 164px
$star-filled-offset-x: -220px
$star-filled-offset-y: -164px
$star-filled-width: 22px
$star-filled-height: 22px
$star-filled-total-width: 341px
$star-filled-total-height: 294px
$star-filled-image: '../images/sprite.png'
$star-filled: (220px, 164px, -220px, -164px, 22px, 22px, 341px, 294px, '../images/sprite.png', 'star-filled', )
$twitter-circle-grey-name: 'twitter-circle-grey'
$twitter-circle-grey-x: 249px
$twitter-circle-grey-y: 229px
$twitter-circle-grey-offset-x: -249px
$twitter-circle-grey-offset-y: -229px
$twitter-circle-grey-width: 46px
$twitter-circle-grey-height: 46px
$twitter-circle-grey-total-width: 341px
$twitter-circle-grey-total-height: 294px
$twitter-circle-grey-image: '../images/sprite.png'
$twitter-circle-grey: (249px, 229px, -249px, -229px, 46px, 46px, 341px, 294px, '../images/sprite.png', 'twitter-circle-grey', )
$twitter-circle-name: 'twitter-circle'
$twitter-circle-x: 296px
$twitter-circle-y: 86px
$twitter-circle-offset-x: -296px
$twitter-circle-offset-y: -86px
$twitter-circle-width: 44px
$twitter-circle-height: 43px
$twitter-circle-total-width: 341px
$twitter-circle-total-height: 294px
$twitter-circle-image: '../images/sprite.png'
$twitter-circle: (296px, 86px, -296px, -86px, 44px, 43px, 341px, 294px, '../images/sprite.png', 'twitter-circle', )
$user-name: 'user'
$user-x: 330px
$user-y: 211px
$user-offset-x: -330px
$user-offset-y: -211px
$user-width: 11px
$user-height: 13px
$user-total-width: 341px
$user-total-height: 294px
$user-image: '../images/sprite.png'
$user: (330px, 211px, -330px, -211px, 11px, 13px, 341px, 294px, '../images/sprite.png', 'user', )
$visa-name: 'visa'
$visa-x: 164px
$visa-y: 132px
$visa-offset-x: -164px
$visa-offset-y: -132px
$visa-width: 100px
$visa-height: 30px
$visa-total-width: 341px
$visa-total-height: 294px
$visa-image: '../images/sprite.png'
$visa: (164px, 132px, -164px, -132px, 100px, 30px, 341px, 294px, '../images/sprite.png', 'visa', )
$vk-circle-grey-name: 'vk-circle-grey'
$vk-circle-grey-x: 203px
$vk-circle-grey-y: 229px
$vk-circle-grey-offset-x: -203px
$vk-circle-grey-offset-y: -229px
$vk-circle-grey-width: 46px
$vk-circle-grey-height: 46px
$vk-circle-grey-total-width: 341px
$vk-circle-grey-total-height: 294px
$vk-circle-grey-image: '../images/sprite.png'
$vk-circle-grey: (203px, 229px, -203px, -229px, 46px, 46px, 341px, 294px, '../images/sprite.png', 'vk-circle-grey', )
$vk-circle-name: 'vk-circle'
$vk-circle-x: 296px
$vk-circle-y: 129px
$vk-circle-offset-x: -296px
$vk-circle-offset-y: -129px
$vk-circle-width: 44px
$vk-circle-height: 43px
$vk-circle-total-width: 341px
$vk-circle-total-height: 294px
$vk-circle-image: '../images/sprite.png'
$vk-circle: (296px, 129px, -296px, -129px, 44px, 43px, 341px, 294px, '../images/sprite.png', 'vk-circle', )
$webmoney-name: 'webmoney'
$webmoney-x: 296px
$webmoney-y: 250px
$webmoney-offset-x: -296px
$webmoney-offset-y: -250px
$webmoney-width: 35px
$webmoney-height: 35px
$webmoney-total-width: 341px
$webmoney-total-height: 294px
$webmoney-image: '../images/sprite.png'
$webmoney: (296px, 250px, -296px, -250px, 35px, 35px, 341px, 294px, '../images/sprite.png', 'webmoney', )
$yandex-wallet-name: 'yandex-wallet'
$yandex-wallet-x: 296px
$yandex-wallet-y: 211px
$yandex-wallet-offset-x: -296px
$yandex-wallet-offset-y: -211px
$yandex-wallet-width: 34px
$yandex-wallet-height: 39px
$yandex-wallet-total-width: 341px
$yandex-wallet-total-height: 294px
$yandex-wallet-image: '../images/sprite.png'
$yandex-wallet: (296px, 211px, -296px, -211px, 34px, 39px, 341px, 294px, '../images/sprite.png', 'yandex-wallet', )
$spritesheet-width: 341px
$spritesheet-height: 294px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($clock-blue, $clock, $cup-blue, $facebook-circle-grey, $facebook-circle, $instagram-circle-grey, $instagram-circle, $mark-blue, $master-cart, $payment-types, $polygon-small, $polygon, $qiwi-wallet, $remove, $shopping-cart, $star-empty, $star-filled, $twitter-circle-grey, $twitter-circle, $user, $visa, $vk-circle-grey, $vk-circle, $webmoney, $yandex-wallet, )
$spritesheet: (341px, 294px, '../images/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
