// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$absolute-bg-name: 'absolute-bg'
$absolute-bg-x: 0px
$absolute-bg-y: 0px
$absolute-bg-offset-x: 0px
$absolute-bg-offset-y: 0px
$absolute-bg-width: 374px
$absolute-bg-height: 112px
$absolute-bg-total-width: 538px
$absolute-bg-total-height: 494px
$absolute-bg-image: '../images/sprite.png'
$absolute-bg: (0px, 0px, 0px, 0px, 374px, 112px, 538px, 494px, '../images/sprite.png', 'absolute-bg', )
$bag-red-name: 'bag-red'
$bag-red-x: 0px
$bag-red-y: 401px
$bag-red-offset-x: 0px
$bag-red-offset-y: -401px
$bag-red-width: 49px
$bag-red-height: 47px
$bag-red-total-width: 538px
$bag-red-total-height: 494px
$bag-red-image: '../images/sprite.png'
$bag-red: (0px, 401px, 0px, -401px, 49px, 47px, 538px, 494px, '../images/sprite.png', 'bag-red', )
$clock-blue-name: 'clock-blue'
$clock-blue-x: 66px
$clock-blue-y: 336px
$clock-blue-offset-x: -66px
$clock-blue-offset-y: -336px
$clock-blue-width: 61px
$clock-blue-height: 65px
$clock-blue-total-width: 538px
$clock-blue-total-height: 494px
$clock-blue-image: '../images/sprite.png'
$clock-blue: (66px, 336px, -66px, -336px, 61px, 65px, 538px, 494px, '../images/sprite.png', 'clock-blue', )
$clock-name: 'clock'
$clock-x: 506px
$clock-y: 229px
$clock-offset-x: -506px
$clock-offset-y: -229px
$clock-width: 12px
$clock-height: 12px
$clock-total-width: 538px
$clock-total-height: 494px
$clock-image: '../images/sprite.png'
$clock: (506px, 229px, -506px, -229px, 12px, 12px, 538px, 494px, '../images/sprite.png', 'clock', )
$cup-blue-name: 'cup-blue'
$cup-blue-x: 0px
$cup-blue-y: 336px
$cup-blue-offset-x: 0px
$cup-blue-offset-y: -336px
$cup-blue-width: 66px
$cup-blue-height: 65px
$cup-blue-total-width: 538px
$cup-blue-total-height: 494px
$cup-blue-image: '../images/sprite.png'
$cup-blue: (0px, 336px, 0px, -336px, 66px, 65px, 538px, 494px, '../images/sprite.png', 'cup-blue', )
$expanded-bg-name: 'expanded-bg'
$expanded-bg-x: 0px
$expanded-bg-y: 224px
$expanded-bg-offset-x: 0px
$expanded-bg-offset-y: -224px
$expanded-bg-width: 374px
$expanded-bg-height: 112px
$expanded-bg-total-width: 538px
$expanded-bg-total-height: 494px
$expanded-bg-image: '../images/sprite.png'
$expanded-bg: (0px, 224px, 0px, -224px, 374px, 112px, 538px, 494px, '../images/sprite.png', 'expanded-bg', )
$facebook-circle-grey-name: 'facebook-circle-grey'
$facebook-circle-grey-x: 0px
$facebook-circle-grey-y: 448px
$facebook-circle-grey-offset-x: 0px
$facebook-circle-grey-offset-y: -448px
$facebook-circle-grey-width: 47px
$facebook-circle-grey-height: 46px
$facebook-circle-grey-total-width: 538px
$facebook-circle-grey-total-height: 494px
$facebook-circle-grey-image: '../images/sprite.png'
$facebook-circle-grey: (0px, 448px, 0px, -448px, 47px, 46px, 538px, 494px, '../images/sprite.png', 'facebook-circle-grey', )
$facebook-circle-name: 'facebook-circle'
$facebook-circle-x: 235px
$facebook-circle-y: 401px
$facebook-circle-offset-x: -235px
$facebook-circle-offset-y: -401px
$facebook-circle-width: 44px
$facebook-circle-height: 43px
$facebook-circle-total-width: 538px
$facebook-circle-total-height: 494px
$facebook-circle-image: '../images/sprite.png'
$facebook-circle: (235px, 401px, -235px, -401px, 44px, 43px, 538px, 494px, '../images/sprite.png', 'facebook-circle', )
$instagram-circle-grey-name: 'instagram-circle-grey'
$instagram-circle-grey-x: 47px
$instagram-circle-grey-y: 448px
$instagram-circle-grey-offset-x: -47px
$instagram-circle-grey-offset-y: -448px
$instagram-circle-grey-width: 47px
$instagram-circle-grey-height: 46px
$instagram-circle-grey-total-width: 538px
$instagram-circle-grey-total-height: 494px
$instagram-circle-grey-image: '../images/sprite.png'
$instagram-circle-grey: (47px, 448px, -47px, -448px, 47px, 46px, 538px, 494px, '../images/sprite.png', 'instagram-circle-grey', )
$instagram-circle-name: 'instagram-circle'
$instagram-circle-x: 146px
$instagram-circle-y: 401px
$instagram-circle-offset-x: -146px
$instagram-circle-offset-y: -401px
$instagram-circle-width: 45px
$instagram-circle-height: 43px
$instagram-circle-total-width: 538px
$instagram-circle-total-height: 494px
$instagram-circle-image: '../images/sprite.png'
$instagram-circle: (146px, 401px, -146px, -401px, 45px, 43px, 538px, 494px, '../images/sprite.png', 'instagram-circle', )
$like-red-name: 'like-red'
$like-red-x: 97px
$like-red-y: 401px
$like-red-offset-x: -97px
$like-red-offset-y: -401px
$like-red-width: 49px
$like-red-height: 45px
$like-red-total-width: 538px
$like-red-total-height: 494px
$like-red-image: '../images/sprite.png'
$like-red: (97px, 401px, -97px, -401px, 49px, 45px, 538px, 494px, '../images/sprite.png', 'like-red', )
$mark-blue-name: 'mark-blue'
$mark-blue-x: 127px
$mark-blue-y: 336px
$mark-blue-offset-x: -127px
$mark-blue-offset-y: -336px
$mark-blue-width: 48px
$mark-blue-height: 63px
$mark-blue-total-width: 538px
$mark-blue-total-height: 494px
$mark-blue-image: '../images/sprite.png'
$mark-blue: (127px, 336px, -127px, -336px, 48px, 63px, 538px, 494px, '../images/sprite.png', 'mark-blue', )
$master-cart-name: 'master-cart'
$master-cart-x: 275px
$master-cart-y: 336px
$master-cart-offset-x: -275px
$master-cart-offset-y: -336px
$master-cart-width: 48px
$master-cart-height: 29px
$master-cart-total-width: 538px
$master-cart-total-height: 494px
$master-cart-image: '../images/sprite.png'
$master-cart: (275px, 336px, -275px, -336px, 48px, 29px, 538px, 494px, '../images/sprite.png', 'master-cart', )
$payment-types-name: 'payment-types'
$payment-types-x: 374px
$payment-types-y: 296px
$payment-types-offset-x: -374px
$payment-types-offset-y: -296px
$payment-types-width: 154px
$payment-types-height: 26px
$payment-types-total-width: 538px
$payment-types-total-height: 494px
$payment-types-image: '../images/sprite.png'
$payment-types: (374px, 296px, -374px, -296px, 154px, 26px, 538px, 494px, '../images/sprite.png', 'payment-types', )
$pencil-red-name: 'pencil-red'
$pencil-red-x: 49px
$pencil-red-y: 401px
$pencil-red-offset-x: -49px
$pencil-red-offset-y: -401px
$pencil-red-width: 48px
$pencil-red-height: 46px
$pencil-red-total-width: 538px
$pencil-red-total-height: 494px
$pencil-red-image: '../images/sprite.png'
$pencil-red: (49px, 401px, -49px, -401px, 48px, 46px, 538px, 494px, '../images/sprite.png', 'pencil-red', )
$polygon-small-name: 'polygon-small'
$polygon-small-x: 374px
$polygon-small-y: 164px
$polygon-small-offset-x: -374px
$polygon-small-offset-y: -164px
$polygon-small-width: 132px
$polygon-small-height: 132px
$polygon-small-total-width: 538px
$polygon-small-total-height: 494px
$polygon-small-image: '../images/sprite.png'
$polygon-small: (374px, 164px, -374px, -164px, 132px, 132px, 538px, 494px, '../images/sprite.png', 'polygon-small', )
$polygon-name: 'polygon'
$polygon-x: 374px
$polygon-y: 0px
$polygon-offset-x: -374px
$polygon-offset-y: 0px
$polygon-width: 164px
$polygon-height: 164px
$polygon-total-width: 538px
$polygon-total-height: 494px
$polygon-image: '../images/sprite.png'
$polygon: (374px, 0px, -374px, 0px, 164px, 164px, 538px, 494px, '../images/sprite.png', 'polygon', )
$qiwi-wallet-name: 'qiwi-wallet'
$qiwi-wallet-x: 323px
$qiwi-wallet-y: 401px
$qiwi-wallet-offset-x: -323px
$qiwi-wallet-offset-y: -401px
$qiwi-wallet-width: 36px
$qiwi-wallet-height: 39px
$qiwi-wallet-total-width: 538px
$qiwi-wallet-total-height: 494px
$qiwi-wallet-image: '../images/sprite.png'
$qiwi-wallet: (323px, 401px, -323px, -401px, 36px, 39px, 538px, 494px, '../images/sprite.png', 'qiwi-wallet', )
$remove-name: 'remove'
$remove-x: 518px
$remove-y: 229px
$remove-offset-x: -518px
$remove-offset-y: -229px
$remove-width: 11px
$remove-height: 11px
$remove-total-width: 538px
$remove-total-height: 494px
$remove-image: '../images/sprite.png'
$remove: (518px, 229px, -518px, -229px, 11px, 11px, 538px, 494px, '../images/sprite.png', 'remove', )
$shopping-cart-name: 'shopping-cart'
$shopping-cart-x: 506px
$shopping-cart-y: 164px
$shopping-cart-offset-x: -506px
$shopping-cart-offset-y: -164px
$shopping-cart-width: 29px
$shopping-cart-height: 21px
$shopping-cart-total-width: 538px
$shopping-cart-total-height: 494px
$shopping-cart-image: '../images/sprite.png'
$shopping-cart: (506px, 164px, -506px, -164px, 29px, 21px, 538px, 494px, '../images/sprite.png', 'shopping-cart', )
$standart-bg-name: 'standart-bg'
$standart-bg-x: 0px
$standart-bg-y: 112px
$standart-bg-offset-x: 0px
$standart-bg-offset-y: -112px
$standart-bg-width: 374px
$standart-bg-height: 112px
$standart-bg-total-width: 538px
$standart-bg-total-height: 494px
$standart-bg-image: '../images/sprite.png'
$standart-bg: (0px, 112px, 0px, -112px, 374px, 112px, 538px, 494px, '../images/sprite.png', 'standart-bg', )
$star-empty-name: 'star-empty'
$star-empty-x: 506px
$star-empty-y: 207px
$star-empty-offset-x: -506px
$star-empty-offset-y: -207px
$star-empty-width: 22px
$star-empty-height: 22px
$star-empty-total-width: 538px
$star-empty-total-height: 494px
$star-empty-image: '../images/sprite.png'
$star-empty: (506px, 207px, -506px, -207px, 22px, 22px, 538px, 494px, '../images/sprite.png', 'star-empty', )
$star-filled-name: 'star-filled'
$star-filled-x: 506px
$star-filled-y: 185px
$star-filled-offset-x: -506px
$star-filled-offset-y: -185px
$star-filled-width: 22px
$star-filled-height: 22px
$star-filled-total-width: 538px
$star-filled-total-height: 494px
$star-filled-image: '../images/sprite.png'
$star-filled: (506px, 185px, -506px, -185px, 22px, 22px, 538px, 494px, '../images/sprite.png', 'star-filled', )
$twitter-circle-grey-name: 'twitter-circle-grey'
$twitter-circle-grey-x: 140px
$twitter-circle-grey-y: 448px
$twitter-circle-grey-offset-x: -140px
$twitter-circle-grey-offset-y: -448px
$twitter-circle-grey-width: 46px
$twitter-circle-grey-height: 46px
$twitter-circle-grey-total-width: 538px
$twitter-circle-grey-total-height: 494px
$twitter-circle-grey-image: '../images/sprite.png'
$twitter-circle-grey: (140px, 448px, -140px, -448px, 46px, 46px, 538px, 494px, '../images/sprite.png', 'twitter-circle-grey', )
$twitter-circle-name: 'twitter-circle'
$twitter-circle-x: 279px
$twitter-circle-y: 401px
$twitter-circle-offset-x: -279px
$twitter-circle-offset-y: -401px
$twitter-circle-width: 44px
$twitter-circle-height: 43px
$twitter-circle-total-width: 538px
$twitter-circle-total-height: 494px
$twitter-circle-image: '../images/sprite.png'
$twitter-circle: (279px, 401px, -279px, -401px, 44px, 43px, 538px, 494px, '../images/sprite.png', 'twitter-circle', )
$user-name: 'user'
$user-x: 506px
$user-y: 241px
$user-offset-x: -506px
$user-offset-y: -241px
$user-width: 11px
$user-height: 13px
$user-total-width: 538px
$user-total-height: 494px
$user-image: '../images/sprite.png'
$user: (506px, 241px, -506px, -241px, 11px, 13px, 538px, 494px, '../images/sprite.png', 'user', )
$visa-name: 'visa'
$visa-x: 175px
$visa-y: 336px
$visa-offset-x: -175px
$visa-offset-y: -336px
$visa-width: 100px
$visa-height: 30px
$visa-total-width: 538px
$visa-total-height: 494px
$visa-image: '../images/sprite.png'
$visa: (175px, 336px, -175px, -336px, 100px, 30px, 538px, 494px, '../images/sprite.png', 'visa', )
$vk-circle-grey-name: 'vk-circle-grey'
$vk-circle-grey-x: 94px
$vk-circle-grey-y: 448px
$vk-circle-grey-offset-x: -94px
$vk-circle-grey-offset-y: -448px
$vk-circle-grey-width: 46px
$vk-circle-grey-height: 46px
$vk-circle-grey-total-width: 538px
$vk-circle-grey-total-height: 494px
$vk-circle-grey-image: '../images/sprite.png'
$vk-circle-grey: (94px, 448px, -94px, -448px, 46px, 46px, 538px, 494px, '../images/sprite.png', 'vk-circle-grey', )
$vk-circle-name: 'vk-circle'
$vk-circle-x: 191px
$vk-circle-y: 401px
$vk-circle-offset-x: -191px
$vk-circle-offset-y: -401px
$vk-circle-width: 44px
$vk-circle-height: 43px
$vk-circle-total-width: 538px
$vk-circle-total-height: 494px
$vk-circle-image: '../images/sprite.png'
$vk-circle: (191px, 401px, -191px, -401px, 44px, 43px, 538px, 494px, '../images/sprite.png', 'vk-circle', )
$webmoney-name: 'webmoney'
$webmoney-x: 393px
$webmoney-y: 401px
$webmoney-offset-x: -393px
$webmoney-offset-y: -401px
$webmoney-width: 35px
$webmoney-height: 35px
$webmoney-total-width: 538px
$webmoney-total-height: 494px
$webmoney-image: '../images/sprite.png'
$webmoney: (393px, 401px, -393px, -401px, 35px, 35px, 538px, 494px, '../images/sprite.png', 'webmoney', )
$yandex-wallet-name: 'yandex-wallet'
$yandex-wallet-x: 359px
$yandex-wallet-y: 401px
$yandex-wallet-offset-x: -359px
$yandex-wallet-offset-y: -401px
$yandex-wallet-width: 34px
$yandex-wallet-height: 39px
$yandex-wallet-total-width: 538px
$yandex-wallet-total-height: 494px
$yandex-wallet-image: '../images/sprite.png'
$yandex-wallet: (359px, 401px, -359px, -401px, 34px, 39px, 538px, 494px, '../images/sprite.png', 'yandex-wallet', )
$spritesheet-width: 538px
$spritesheet-height: 494px
$spritesheet-image: '../images/sprite.png'
$spritesheet-sprites: ($absolute-bg, $bag-red, $clock-blue, $clock, $cup-blue, $expanded-bg, $facebook-circle-grey, $facebook-circle, $instagram-circle-grey, $instagram-circle, $like-red, $mark-blue, $master-cart, $payment-types, $pencil-red, $polygon-small, $polygon, $qiwi-wallet, $remove, $shopping-cart, $standart-bg, $star-empty, $star-filled, $twitter-circle-grey, $twitter-circle, $user, $visa, $vk-circle-grey, $vk-circle, $webmoney, $yandex-wallet, )
$spritesheet: (538px, 494px, '../images/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
