{% extends "layouts/app.twig" %}

{% block content %}
    <section class="fw-mt-30">
        <div class="container">
            <p class="fw-font-rubik fw-fz-30 fw-margin-0 fw-color-dark">О проекте <span class="fw-text-uppercase fw-color-blue fw-font-medium">LOGO</span></p>
            <div>
                <p class="fw-font-rubik fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    LOGO — ваш личный гид в мире рекордных скидок и самых выгодных спецпредложений. Это уникальная возможность покупать продукцию известных
                    брендов и пользоваться услугами популярных заведений самого широкого спектра — от ресторанов и развлекательных центров до салонов красоты и
                    образовательных организаций, экономя до 90% от их обычной стоимости.
                </p>
                <p class="fw-font-rubik fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    Каждый день на сайте публикуется несколько десятков новых акций специально для вашего города. Все купоны, предоставляющие право на скидки, подарки и
                    бонусы, — бесплатны. Заплатите вы только при получении конечной услуги или товара с учетом указанной скидки. Учитывая, что в среднем акция длится около
                    месяца, в каждый конкретный момент в вашем распоряжении огромная база специальных предложений.
                </p>
                <p class="fw-font-rubik fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    Кроме того, LOGO — это еще и информационно-развлекательный ресурс. Мы не просто собираем для вас самые выгодные варианты, но и в целом
                    рассказываем о той продукции, что у нас представлена. Мы следим за последними тенденциями, честно указываем не только преимущества, но и недостатки
                    тех или иных товаров или услуг, помогаем разобраться в большом ассортименте, отобрать то, что нужно именно вам.
                </p>
                <p class="fw-font-rubik fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    Почему у нас такие высокие скидки? Нашим партнерам нужны новые клиенты, а мы, в свою очередь, можем соединить их с целевой аудиторией и
                    гарантировать маркетинговую экспертизу. На Западе это давно известная, хорошо себя зарекомендовавшая, распространенная практика. В России bOombate
                    первым стал предоставлять бесплатные купоны. Первыми — но уже в более широком смысле — мы остаемся и сейчас.
                </p>
            </div>
        </div>
    </section>

    <section class="fw-mt-30 fw-mb-50">
        <div class="container">
            <p class="fw-font-rubik fw-font-medium fw-text-uppercase fw-color-dark fw-text-center fw-fz-35 fw-margin-0">ЭКОНОМЬТЕ НА УСЛУГАХ И ТОВАРАХ c <span class="fw-color-blue">LOGO</span></p>
            <div class="fw-mt-40">
                <div class="fw-grid fw-grid-35 fw-grid-middle">
                    <div class="fw-width-1-5">
                        <div class="fw-text-center">
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-margin-0">более</p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-blue fw-margin-0">530</p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-margin-0">акций</p>
                        </div>
                    </div>
                    <div class="fw-width-1-5">
                        <div class="fw-text-center">
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-margin-0">до</p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-blue fw-margin-0">90%</p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-margin-0">скидка</p>
                        </div>
                    </div>
                    <div class="fw-width-1-5">
                        <div class="fw-text-center">
                            <p class="fw-margin-0"><i class="icon icon-clock-blue"></i></p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-10 fw-mb-0">экономия времени</p>
                        </div>
                    </div>
                    <div class="fw-width-1-5">
                        <div class="fw-text-center">
                            <p class="fw-margin-0"><i class="icon icon-mark-blue"></i></p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-10 fw-mb-0">гарантия качества</p>
                        </div>
                    </div>
                    <div class="fw-width-1-5">
                        <div class="fw-text-center">
                            <p class="fw-margin-0"><i class="icon icon-cup-blue"></i></p>
                            <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-10 fw-mb-0">самые горячие скидки</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/sections/section-callback.twig' %}
{% endblock %}