{% extends "layouts/app.twig" %}

{% block content %}
    <div class="container">
        <div class="fw-mt-30 fw-mb-50">
            <p class="fw-font-rubic fw-fz-30 fw-margin-0 fw-color-dark">Договор публичной оферты</p>
            <div>
                <p class="fw-font-rubic fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    Настоящий договор адресован физическим лицам, зарегистрированным на сайте в сети Интернет: https://chocolife.me, далее именуемым «Пользователь», и
                    является официальным и публичным предложением лица, указанного в Приложении к настоящему договору, далее именуемым «Продавец». ТОО «Редпрайс»,
                    далее именуемое «Представитель», действует от имени и за счет Продавца. Пользователь и Продавец заключили настоящий договор, предмет и условия
                    которого указаны в Приложении к настоящему договору (далее – Договор), о нижеследующем:
                </p>
            </div>
            <div class="fw-mt-20">
                <p class="fw-font-rubic fw-fz-25 fw-margin-0 fw-color-dark">Термины и определения:</p>
                <p class="fw-font-rubic fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    Публичная Оферта – настоящее предложение о приобретении товаров/услуг/работ Продавца, публикуемое Представителем на Сайте, обращенное
                    Пользователям.  Акция – мероприятие, проводимое Продавцом, направленное на реализацию товаров/услуг/работ Продавца Пользователям Дисконтов,
                    приобретенных у Представителя на условиях, оговоренных в настоящей Публичной Оферте. Пользователь признается фактически принявшим участие в
                    Акции, если им приобретены товары/услуги/работы у Продавца в рамках Публичной Оферты при предъявлении Купона/Сертификата. Условия Акции
                    оговариваются на Сайте и являются неотъемлемой частью (Приложением) к настоящей Публичной Оферте (Договору).  Дисконт – Купон/Сертификат,
                    приобретаемый Пользователем на сайте Представителя, имеющий цифровой код (либо иной код, такой как штрих-код, QR код), позволяющий однозначно
                    идентифицировать Пользователя и дающий право на приобретение у Продавца товаров/услуг/работ на условиях проведения Акции в период ее действия.
                    Период проведения Акции – период времени, в течение которого Представитель предоставляет Пользователям возможность приобретать
                    Купоны/Сертификаты.  Срок действия Купона/Сертификата – период времени, в течение которого Продавец обязан предоставлять предъявляющим
                    Купон/Сертификат Пользователям товары/услуги/работы на условиях Публичной оферты в соответствии с условиями проведения Акции. Срок действия
                    Купона/Сертификата указывается на Сайте.  Сайт – https://chocolife.me.
                </p>
            </div>
            <div class="fw-mt-20">
                <p class="fw-font-rubic fw-fz-25 fw-margin-0 fw-color-dark">Основные положения:</p>
                <p class="fw-font-rubic fw-fz-15 fw-font-light fw-line-height-2 fw-mt-20 fw-mb-0 fw-color-dark">
                    Публичная Оферта – настоящее предложение о приобретении товаров/услуг/работ Продавца, публикуемое Представителем на Сайте, обращенное
                    Пользователям.  Акция – мероприятие, проводимое Продавцом, направленное на реализацию товаров/услуг/работ Продавца Пользователям Дисконтов,
                    приобретенных у Представителя на условиях, оговоренных в настоящей Публичной Оферте. Пользователь признается фактически принявшим участие в.
                </p>
            </div>
        </div>
    </div>

    {% include 'includes/sections/section-callback.twig' %}
{% endblock %}