{% extends "layouts/app.twig" %}

{% block content %}
    <div class="container">
        <div class="fw-mt-30 fw-mb-50">
            <div class="fw-grid fw-grid-35">
                <div class="fw-width-1-2">
                    <p class="fw-font-rubic fw-fz-20 fw-margin-0">Контакты</p>
                    <div class="fw-mt-15">
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">г. Алматы, ул. Макатаева, 117А (уг. ул. Масанчи), БЦ Лотос, блок А, 3 этаж, кабинет 321 (офис Chocolife.me)</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Телефон: <a href="tel:+7(727)346-85-88" class="fw-color-dark fw-text-underline-hover">+7 (727) 346-85-88</a> (круглосуточно и без выходных)</p>
                    </div>
                    <p class="fw-font-rubic fw-fz-20 fw-mt-30 fw-mb-0">PR-Менеджер</p>
                    <div class="fw-mt-15">
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Вопросы информационной поддержки событий, участия во внешних
                            мероприятиях спикеров и работы со СМИ:
                        </p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Немцова Анастасия <a href="mailto:nemtsova.a@chocolife.kz" class="fw-color-dark fw-text-underline-hover">nemtsova.a@chocolife.kz</a></p>
                    </div>
                    <p class="fw-font-rubic fw-fz-20 fw-mt-30 fw-mb-0">Хотите запустить LOGO в Вашем городе?</p>
                    <div class="fw-mt-15">
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Свяжитесь с Ким Геннадием <a href="mailto:gennady@chocolife.me" class="fw-color-dark fw-text-underline-hover">gennady@chocolife.me</a></p>
                    </div>
                </div>
                <div class="fw-width-1-2">
                    <div class="fw-width-1-1 fw-box-proportional-70">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <p class="fw-font-rubic fw-fz-20 fw-mt-30 fw-mb-0">Наши реквизиты</p>
            <div class="fw-mt-15">
                <div class="fw-grid fw-grid-35">
                    <div class="fw-width-1-2">
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">«Редпрайс» жауапкершілігі шектеулі серіктестігі</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Қазақстан Республикасы, 050000, Алматы қ., Алмалы ауданы, Мақатаев к., 117</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Заңды тұлғаның мемлекеттік тіркеуі жайлы ақпарат</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Тіркеу органы: Алматы қаласы Әділет департаментінің Алмалы</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">ауданы Әділет басқармасы</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Бастапқы тіркеу күні: 24 ақпан 2011 жыл</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">БСН: 110240020491</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Пошталық мененжай: Қазақстан Республикасы, 050000, Алматы қ.,</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Алмалы ауданы, Мақатаев к., 117А, 321 кеңсе</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Электронды мекенжай: <a href="mailto:ok@chocolife.me" class="fw-color-dark fw-text-underline-hover">ok@chocolife.me</a></p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0"><a href="tel:+7(727)346-85-88" class="fw-color-dark fw-text-underline-hover">+7 (727) 346-85-88</a></p>
                    </div>
                    <div class="fw-width-1-2">
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Товарищество с ограниченной ответственностью «Редпрайс»</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Республика Казахстан, г. Алматы, 050000, Алмалинский район, ул. Макатаева, 117</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Сведения о государственной регистрации юридического лица</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Регистрирующий орган: Управление юстиции Алмалинского района</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Департамента юстиции города Алматы</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Дата первичной регистрации: 24 февраля 2011 года</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">БИН: 110240020491</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Почтовый адрес: Республика Казахстан, 050000, г. Алматы, Алмалинский</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">район, г. Алматы, ул. Макатаева, 117А, 3 этаж, 321 офис</p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0">Электронный адрес: <a href="mailto:ok@chocolife.me" class="fw-color-dark fw-text-underline-hover">ok@chocolife.me</a></p>
                        <p class="fw-font-rubic fw-font-light fw-fz-14 fw-color-dark fw-line-height-2 fw-margin-0"><a href="tel:+7(727)346-85-88" class="fw-color-dark fw-text-underline-hover">+7 (727) 346-85-88</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/sections/section-callback.twig' %}
{% endblock %}