{% extends "layouts/app.twig" %}

{% block content %}
    <section>
        <div class="fw-bg-cover fw-bg-no-repeat fw-bg-center" style="background-image: url('images/section-for-business-bg.jpg')">
            <div class="container">
                <div class="fw-border-box fw-height-440 fw-flex fw-flex-middle fw-flex-center">
                    <p class="fw-font-rubik fw-font-light fw-fz-50 fw-color-white fw-margin-0 fw-text-uppercase fw-text-center">
                        3 уровня защиты покупателей
                        <br>
                        <span class="fw-font-medium">на <span class="fw-color-red">LOGo</span></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-mt-40 fw-mb-50">
        <div class="container">
            <p class="fw-font-rubik fw-fz-40 fw-color-dark fw-text-uppercase fw-mt-0 fw-mb-0 fw-font-medium fw-text-center">контроль качества</p>
            <p class="fw-font-rubik fw-font-light fw-fz-18 fw-font-dark fw-text-center fw-margin-0">Наш отдел Контроля Качества отбирает для Вас самые качественные предложения <br> от лучших заведений города.</p>

            <div class="fw-flex fw-mt-50">
                <div class="fw-flex-shrink-no">
                    <div class="fw-width-112">
                        <i class="icon icon-bag-red fw-mt-40"></i>
                    </div>
                </div>
                <div class="fw-flex-grow-1">
                    <div class="fw-width-1-1">
                        <p class="fw-font-rubik fw-font-medium fw-fz-18 fw-text-uppercase fw-color-white fw-bg-color-red fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-margin-0 fw-border-box fw-inline-block">заключаем договор о сотрудничестве</p>
                        <div class="fw-mt-10">
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">Прежде, чем заключить договор о сотрудничестве с заведением, отдел Контроля Качества:</p>
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">— оценивает внещний вид</p>
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">— проверяет разрешительные документы, обязательные для данного вида бизнеса</p>
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">— проверяет соответствие санитарным нормам, а также наличие у сотрудников достаточного опыта работы</p>
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">В случаем, если заведение проходит по всем параметрам, то мы заключаем договор о сотрудничестве и запускаем акцию.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fw-flex fw-mt-50">
                <div class="fw-flex-shrink-no">
                    <div class="fw-width-112">
                        <i class="icon icon-pencil-red fw-mt-40"></i>
                    </div>
                </div>
                <div class="fw-flex-grow-1">
                    <div class="fw-width-1-1">
                        <p class="fw-font-rubik fw-font-medium fw-fz-18 fw-text-uppercase fw-color-white fw-bg-color-red fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-margin-0 fw-border-box fw-inline-block">Подписание специального соглашения об уровне сервиса</p>
                        <div class="fw-mt-10">
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">Перед запуском акции отдел Контроля Качества проводит встречу с сотрудниками и руководством заведения.
                                Мы инструктируем персонал о необходимости оперативного решения любых спроных ситуаций, а также уровне
                                обслуживания, который бы полностью исключал их возникновение. В результате по акции тот же уровень услуг, что и за
                                полную стоимость.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fw-flex fw-mt-50">
                <div class="fw-flex-shrink-no">
                    <div class="fw-width-112">
                        <i class="icon icon-like-red fw-mt-40"></i>
                    </div>
                </div>
                <div class="fw-flex-grow-1">
                    <div class="fw-width-1-1">
                        <p class="fw-font-rubik fw-font-medium fw-fz-18 fw-text-uppercase fw-color-white fw-bg-color-red fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-margin-0 fw-border-box fw-inline-block">Контроль исполнения обязательств</p>
                        <div class="fw-mt-10">
                            <p class="fw-font-rubik fw-fz-16 fw-font-light fw-margin-0 fw-line-height-2 fw-color-dark">Мы прилагаем все усилия для поддержания заявленного уровня сервиса на протяжении всей акции. Для этого мы звоним
                                партнерам под видом обычных покупателей, а также навещаем их, чтобы проверить, не произошло ли каких-то изменений,
                                влияющих на качество услуг. Особое внимание отдел Контроля Качества уделяет поступающим на сайт отзывам от наших
                                пользователей - каждый из них обрабатывается индивидуально совместно с партнером. В случае нарушения партнером
                                условий договора или соглашения об уровне сервиса сотрудничество прерывается.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-mt-100 fw-mb-100">
        <div class="container">
            <p class="fw-font-rubik fw-fz-40 fw-color-dark fw-text-uppercase fw-mt-0 fw-mb-0 fw-font-medium fw-text-center">три уровня защиты</p>
            <p class="fw-font-rubik fw-font-light fw-fz-18 fw-font-dark fw-text-center fw-margin-0">Мы заботимся о безопасности наших покупателей</p>

            <div class="fw-mt-50">
                <div class="fw-grid fw-grid-15">
                    <div class="fw-width-1-3">
                        <div class="fw-width-1-1">
                            <div class="fw-flex fw-flex-middle fw-height-100 fw-flex-center fw-bg-no-repeat fw-bg-cover fw-bg-center" style="background-image: url('images/protection-standart-bg.jpg')">
                                <p class="fw-font-rubik fw-font-medium fw-fz-22 fw-text-uppercase fw-color-white fw-margin-0">стандартная</p>
                            </div>
                            <div class="fw-width-1-1 fw-border-box fw-pt-20 fw-pb-20 fw-pl-15 fw-pr-15">
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">Распространяется на покупки, оплаченные на
                                нашем сайте по купонным акциям.</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">Купонная акция - это акция, по которой Вы
                                покупаете купон на нашем сайте, а остаток суммы
                                с учетом скидки доплачиваете непосредственно в
                                заведении.</p>

                                <p class="fw-font-rubik fw-font-medium fw-fz-14 fw-mt-20 fw-mb-0 fw-color-dark fw-line-height-2">Стандартная защита гарантирует что:</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Данное заведение полностью соответствует
                                нашим стандартам качества, а значит, имеет все
                                разрешительные документы</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Турфирмы, строительные и изготавливающие
                                компании в данном разделе имеют
                                подтвержденный срок работы на рынке не менее
                                3-х лет</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Вы сможете вернуть приобретенный купон в
                                течение всего его срока действия, а также в
                                течение семи дней с момента его завершения</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— В случае неполного/некачественного оказания
                                услуги, обязательства по возврату средств берет
                                на себя заведение, в соответствии с
                                действующим законодательством Республики
                                Казахстан</p>

                                <p class="fw-font-rubik fw-font-medium fw-fz-14 fw-mt-20 fw-mb-0 fw-color-dark fw-line-height-2">Также стандартная защита покупателей
                                распространяется на все промо-акции и
                                бесплатные купоны.</p>
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-3">
                        <div class="fw-width-1-1">
                            <div class="fw-flex fw-flex-middle fw-height-100 fw-flex-center fw-bg-no-repeat fw-bg-cover fw-bg-center" style="background-image: url('images/protection-expanded-bg.jpg')">
                                <p class="fw-font-rubik fw-font-medium fw-fz-22 fw-text-uppercase fw-color-white fw-margin-0">расширенная</p>
                            </div>
                            <div class="fw-width-1-1 fw-border-box fw-pt-20 fw-pb-20 fw-pl-15 fw-pr-15">
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">Распространяется на покупки, оплаченные на
                                    нашем сайте по купонным акциям.</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">Купонная акция - это акция, по которой Вы
                                    покупаете купон на нашем сайте, а остаток суммы
                                    с учетом скидки доплачиваете непосредственно в
                                    заведении.</p>

                                <p class="fw-font-rubik fw-font-medium fw-fz-14 fw-mt-20 fw-mb-0 fw-color-dark fw-line-height-2">Расширенная защита гарантирует что:</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Данное заведение полностью соответствует
                                    нашим стандартам качества, а значит, имеет все
                                    разрешительные документы</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Турфирмы, строительные и изготавливающие
                                    компании в данном разделе имеют
                                    подтвержденный срок работы на рынке не менее
                                    3-х лет</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Вы сможете вернуть приобретенный
                                    сертификат в соответствии со стандартной
                                    политикой возврата</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— В случае неоказания услуги по вине
                                    компании-поставщика мы сможем осуществить
                                    возврат Ваших средств в полном размере без
                                    комиссий и штрафов</p>

                                <div class="b-toggle protection-toggle b-toggle--active fw-mt-20">
                                    <div class="fw-bg-color-yellow fw-border-box fw-pr-5 fw-padding-10">
                                        <a href="#" class="b-toggle__trigger fw-width-1-1">НЕИСПОЛЬЗОВАННЫЕ КУПОНЫ И СЕРТИФИКАТЫ</a>
                                    </div>
                                    <div class="b-toggle__content">
                                        <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2 fw-mt-5">Вы имеете право на полный возврат средств за
                                            неиспользованный дисконт в течение всего его
                                            срока действия, а также в течение 7 дней с
                                            момента истечения срока. Возврат может быть
                                            осуществлен наличными, на карту или на личный
                                            счет, в зависимости от используемого Вами
                                            способа оплаты.</p>
                                    </div>
                                </div>

                                <div class="b-toggle protection-toggle fw-mt-20">
                                    <div class="fw-bg-color-yellow fw-border-box fw-pr-5 fw-padding-10">
                                        <a href="#" class="b-toggle__trigger fw-width-1-1">ИСПОЛЬЗОВАННЫЕ КУПОНЫ И СЕРТИФИКАТЫ</a>
                                    </div>
                                    <div class="b-toggle__content">
                                        <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2 fw-mt-5"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fw-width-1-3">
                        <div class="fw-width-1-1">
                            <div class="fw-flex fw-flex-middle fw-height-100 fw-flex-center fw-bg-no-repeat fw-bg-cover fw-bg-center" style="background-image: url('images/protection-absolute-bg.jpg')">
                                <p class="fw-font-rubik fw-font-medium fw-fz-22 fw-text-uppercase fw-color-white fw-margin-0">абсолютная</p>
                            </div>
                            <div class="fw-width-1-1 fw-border-box fw-pt-20 fw-pb-20 fw-pl-15 fw-pr-15">
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">Распространяется на покупки, оплаченные на
                                    нашем сайте по сертификатным акциям. </p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">Сертификатная акция - это акция, по которой Вы
                                    покупаете сертификат и для получения
                                    услуги/товара Вам ничего не надо доплачивать в
                                    заведении.</p>

                                <p class="fw-font-rubik fw-font-medium fw-fz-14 fw-mt-20 fw-mb-0 fw-color-dark fw-line-height-2">Абсолютная защита гарантирует что:</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Заведение-партнер имеет безупречную
                                    репутацию среди наших пользователей – за время
                                    предыдущих акций они оценили его минимум на
                                    4,7 балла из 5 возможных</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— На сайте размещены только реальные
                                    фотографии заведения</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— По такой акции Вам не понадобится
                                    распечатывать сертификат</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Вы останетесь довольны предоставленным
                                    качеством сервиса и услуги – в случае
                                    обнаружения недочетов наш партнер окажет Вам
                                    услугу повторно или же мы вернем</p>
                                <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2">— Ваши средства за сертификат без комиссий и
                                    штрафов</p>

                                <div class="b-toggle protection-toggle b-toggle--active fw-mt-20">
                                    <div class="fw-bg-color-green fw-border-box fw-pr-5 fw-padding-10">
                                        <a href="#" class="b-toggle__trigger fw-width-1-1">НЕИСПОЛЬЗОВАННЫЕ КУПОНЫ И СЕРТИФИКАТЫ</a>
                                    </div>
                                    <div class="b-toggle__content">
                                        <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2 fw-mt-5">Вы имеете право на полный возврат
                                            неиспользованного дисконта в течение 365 дней с
                                            момента покупки на личный счет, а также любым
                                            удобным Вам способом. Возврат может быть
                                            осуществлен наличными, на карту или на личный
                                            счет, в зависимости от используемого Вами
                                            способа оплаты.</p>
                                    </div>
                                </div>

                                <div class="b-toggle protection-toggle fw-mt-20">
                                    <div class="fw-bg-color-green fw-border-box fw-pr-5 fw-padding-10">
                                        <a href="#" class="b-toggle__trigger fw-width-1-1">ИСПОЛЬЗОВАННЫЕ КУПОНЫ И СЕРТИФИКАТЫ</a>
                                    </div>
                                    <div class="b-toggle__content">
                                        <p class="fw-font-rubik fw-font-light fw-fz-14 fw-margin-0 fw-color-dark fw-line-height-2 fw-mt-5"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-bg-cover fw-bg-no-repeat" style="background-image: url('images/section-ads-contact.jpg')">
        <div class="container">
            <div class="fw-border-box fw-pt-100 fw-pb-80 fw-text-center">
                <p class="fw-font-rubik fw-fz-42 fw-color-dark fw-text-uppercase fw-margin-0 fw-font-medium">круглосуточная поддержка</p>
                <p class="fw-font-rubik fw-fz-25 fw-color-dark fw-mt-20 fw-mb-30 fw-font-light">Получите моментальную консультацию по телефону
                    <a href="tel:+7 (727) 346-85-88" class="fw-font-medium fw-color-dark fw-text-underline-hover">+7 (727) 346-85-88</a>
                    <br>
                    или напишите нам и получите ответ в течение 15 минут</p>
                <button class="button button-red fw-border-box fw-pt-15 fw-pb-15 fw-pr-40 fw-pl-40"><span class="fw-fz-14 fw-font-rubik fw-font-medium fw-text-uppercase">задать вопрос</span></button>
            </div>
        </div>
    </section>
{% endblock %}