{% extends "layouts/app.twig" %}

{% block content %}
    <section>
        <div class="fw-bg-cover fw-bg-no-repeat fw-bg-center" style="background-image: url('images/section-for-business-bg.jpg')">
            <div class="container">
                <div class="fw-border-box fw-height-440 fw-flex fw-flex-middle fw-flex-center">
                    <p class="fw-font-rubik fw-font-light fw-fz-50 fw-color-white fw-margin-0 fw-text-uppercase fw-text-center">
                        Развитие вашего бизнеса <br>
                        <span class="fw-font-medium">с <span class="fw-color-red">LOGo</span></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-mt-40 fw-mb-50">
        <div class="container">
            <div class="fw-grid fw-grid-35 fw-grid-middle">
                <div class="fw-width-1-5 fw-flex fw-flex-middle">
                    <div class="fw-text-center fw-width-132 fw-height-132 fw-relative fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-0 fw-mb-inverse-5">более</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-dark fw-margin-0">530</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-inverse-5 fw-mb-0">акций</p>
                        <i class="icon icon-polygon-small fw-absolute fw-top-0 fw-left-0"></i>
                    </div>
                </div>
                <div class="fw-width-1-5 fw-flex fw-flex-middle">
                    <div class="fw-text-center fw-width-132 fw-height-132 fw-relative fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-0 fw-mb-inverse-5">активных</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-dark fw-margin-0">400</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-inverse-5 fw-mb-0">покупателей</p>
                        <i class="icon icon-polygon-small fw-absolute fw-top-0 fw-left-0"></i>
                    </div>
                </div>
                <div class="fw-width-1-5 fw-flex fw-flex-middle">
                    <div class="fw-text-center fw-width-164 fw-height-164 fw-relative fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-0 fw-mb-inverse-5">более</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-dark fw-margin-0">1000</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-inverse-5 fw-mb-0">пользователей</p>
                        <i class="icon icon-polygon fw-absolute fw-top-0 fw-left-0"></i>
                    </div>
                </div>
                <div class="fw-width-1-5 fw-flex fw-flex-middle">
                    <div class="fw-text-center fw-width-132 fw-height-132 fw-relative fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-0 fw-mb-inverse-5">просмотров</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-dark fw-margin-0">650</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-inverse-5 fw-mb-0">тысяч в год</p>
                        <i class="icon icon-polygon-small fw-absolute fw-top-0 fw-left-0"></i>
                    </div>
                </div>
                <div class="fw-width-1-5 fw-flex fw-flex-middle">
                    <div class="fw-text-center fw-width-132 fw-height-132 fw-relative fw-flex fw-flex-middle fw-flex-center fw-flex-column">
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-0 fw-mb-inverse-5">более</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-50 fw-color-dark fw-margin-0">350</p>
                        <p class="fw-font-rubik fw-text-uppercase fw-fz-12 fw-color-dark fw-mt-inverse-5 fw-mb-0">партнеров</p>
                        <i class="icon icon-polygon-small fw-absolute fw-top-0 fw-left-0"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-mb-50">
        <div class="container">
            <p class="fw-font-rubik fw-fz-40 fw-color-dark fw-text-uppercase fw-mt-0 fw-mb-50 fw-font-medium fw-text-center">Почему это выгодно?</p>
            <div class="fw-flex">
                <div class="fw-flex-grow-1 fw-flex fw-flex-space-between fw-flex-column fw-text-right">
                    <p class="fw-font-rubik fw-fz-16 fw-margin-0 fw-text-uppercase fw-color-dark">Имиджевый эффект</p>
                    <p class="fw-font-rubik fw-fz-16 fw-margin-0 fw-text-uppercase fw-color-dark">Отсутствие долгосрочных<br>рекламных обязательств</p>
                    <p class="fw-font-rubik fw-fz-16 fw-margin-0 fw-text-uppercase fw-color-dark">Быстрое реагирование<br>на ситуацию в бизнесе</p>
                </div>
                <div class="fw-flex-shrink-no fw-mr-100 fw-ml-100">
                    <img src="images/section-try-diagram.jpg" alt="" class="fw-max-width-percent-100">
                </div>
                <div class="fw-flex-grow-1 fw-flex fw-flex-space-between fw-flex-column">
                    <p class="fw-font-rubik fw-fz-16 fw-margin-0 fw-text-uppercase fw-color-dark">Конкретные измеримые<br>результаты</p>
                    <p class="fw-font-rubik fw-fz-16 fw-margin-0 fw-text-uppercase fw-color-dark">Работает на вас даже после<br>овончания рекламной компании</p>
                    <p class="fw-font-rubik fw-fz-16 fw-margin-0 fw-text-uppercase fw-color-dark">Вы ничего не тратите на рекламу</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="fw-grid">
            <div class="fw-width-1-2">
                <div class="fw-bg-color-lilac fw-border-box fw-height-266 fw-width-1-1 fw-flex fw-flex-right fw-flex-middle fw-relative">
                    <p class="fw-mt-0 fw-mb-0 fw-mr-100 fw-font-rubik fw-font-light fw-fz-35 fw-color-white fw-text-uppercase">Мы поможем <br> наладить <span class="fw-font-medium">ваш <br> канал продаж</span></p>
                    <div class="lilac-triangle fw-absolute fw-top-0 fw-left-percent-100"></div>
                </div>
            </div>
            <div class="fw-width-1-2 fw-flex fw-flex-middle">
                <div class="fw-border-box fw-pl-80">
                    <p class="fw-line-height-1-5 fw-fz-20 fw-font-rubik fw-font-light fw-color-dark fw-margin-0"><span class="fw-color-blue fw-font-medium fw-text-uppercase">LOGO</span> —  это уникальный маркетинговый инструмент, <br>который позволяет привлечь потенциальных клиентов <br>с минимальными затратами на продвижение. Это <br>самый быстрый и эффективный способ сделать так,<br>чтобы аудитория вас заметила и полюбила.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-bg-color-light fw-border-box fw-pt-20">
        <div class="container">
            <div class="fw-grid">
                <div class="fw-width-1-2 fw-flex fw-flex-bottom">
                    <img src="images/girl.jpg" alt="" class="fw-max-width-percent-100">
                </div>
                <div class="fw-width-1-2">
                    <p class="fw-margin-0 fw-font-rubik fw-font-medium fw-fz-40 fw-text-uppercase">Как проходит акция?</p>
                    <div class="fw-mt-50">
                        <div class="fw-mb-20"><span class="fw-font-rubik fw-fz-18 fw-text-uppercase fw-border-box fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-bg-color-red fw-color-white">Изучаем ваш бизнес</span></div>
                        <div><span class="fw-font-rubik fw-color-dark fw-fz-16 fw-font-light">Мы изучаем ваш бизнес и разрабатываем уникальное <br>предложение, интересное и вам, и вашим клиентам</span></div>
                    </div>
                    <div class="fw-mt-40">
                        <div class="fw-mb-20"><span class="fw-font-rubik fw-fz-18 fw-text-uppercase fw-border-box fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-bg-color-red fw-color-white"> Оформляем страницы вашего предложения</span></div>
                        <div><span class="fw-font-rubik fw-color-dark fw-fz-16 fw-font-light">Готовим тексты, обрабатываем фотографии и готовим другие <br>сопроводительные материалы для вашего предложения</span></div>
                    </div>
                    <div class="fw-mt-40">
                        <div class="fw-mb-20"><span class="fw-font-rubik fw-fz-18 fw-text-uppercase fw-border-box fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-bg-color-red fw-color-white">Рекламируем</span></div>
                        <div><span class="fw-font-rubik fw-color-dark fw-fz-16 fw-font-light">Продвигаем ваше предложения в соцсетях, поисковиках, <br>а также при помощи прямой e-mail рассылки нашим <br>пользователям</span></div>
                    </div>
                    <div class="fw-mt-40 fw-mb-60">
                        <div class="fw-mb-20"><span class="fw-font-rubik fw-fz-18 fw-text-uppercase fw-border-box fw-pt-2 fw-pb-2 fw-pl-5 fw-pr-5 fw-bg-color-red fw-color-white">Продаем купоны</span></div>
                        <div><span class="fw-font-rubik fw-color-dark fw-fz-16 fw-font-light">Продаем купоны покупателям и Вы получаете клиентов, которые <br>будут возвращаться и рекомендовать Вас своиму окружению</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-bg-cover fw-bg-no-repeat" style="background-image: url('images/section-ads-contact.jpg')">
        <div class="container">
            <div class="fw-border-box fw-pt-100 fw-pb-80 fw-text-center">
                <p class="fw-font-rubik fw-fz-42 fw-color-dark fw-text-uppercase fw-margin-0 fw-font-medium">Хотите попробовать?</p>
                <p class="fw-font-rubik fw-fz-25 fw-color-dark fw-mt-20 fw-mb-30 fw-font-light">Расскажите нам о вашем бизнесе, и мы придумаем для вас решение!</p>
                <button class="button button-red fw-border-box fw-pt-15 fw-pb-15 fw-pr-40 fw-pl-40"><span class="fw-fz-14 fw-font-rubik fw-font-medium fw-text-uppercase">узнать подробнее</span></button>
            </div>
        </div>
    </section>
{% endblock %}