{% extends "layouts/app.twig" %}

{% block content %}
    <div class="container">
        <div class="fw-mt-30 fw-mb-50">
            <p class="fw-font-rubic fw-fz-30 fw-margin-0 fw-color-dark">Помощь</p>
            <div>
                <div class="b-toggle">
                    <a href="#" class="fw-fz-15 fw-font-rubic fw-font-light fw-color-dark b-toggle__trigger fw-line-height-2">Как работает LOGO?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle b-toggle--active">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Почему заведениям выгодно сотрудничать с нами?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30">
                        <p class="fw-margin-5 fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">LOGO – это мощный инструмент для рекламы бизнеса: колоссальная база активных интернет-пользователей, информационная поддержка на крупнейших
                            сайтах казнета, высококвалифицированная служба заботы о пользователях, ежедневная e-mail рассылка и многое другое. Кроме этого процесс
                            сотрудничества партнера и дисконт сервиса продуман до мелочей.</p>
                    </div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="fw-fz-15 fw-font-rubic fw-font-light fw-color-dark b-toggle__trigger fw-line-height-2">Где находится офис LOGO?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
            <div class="fw-mt-20">
                <p class="fw-font-rubic fw-fz-25 fw-margin-0 fw-color-dark">Оплата и пополнение счета</p>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Какие способы оплаты мы принимаем?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как пополнить личный счет?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как пополнить личный счет Chocolife.me с помощью интернет-банкинга?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как пополнить личный счет Chocolife.me с помощью банковской карты?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как произвести оплату с помощью банковской карты?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Какие банковские карты принимаются к оплате?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как пополнить личный счет Chocolife.me через терминал оплаты?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
            </div>
            <div class="fw-mt-20">
                <p class="fw-font-rubic fw-fz-25 fw-margin-0 fw-color-dark">Сертификаты/купоны</p>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Какие способы оплаты мы принимаем?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как пополнить личный счет?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
                <div class="b-toggle">
                    <a href="#" class="b-toggle__trigger fw-fz-15 fw-font-rubic fw-font-light fw-color-dark fw-line-height-2">Как пополнить личный счет Chocolife.me с помощью интернет-банкинга?</a>
                    <div class="b-toggle__content fw-border-box fw-pl-30"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% include 'includes/sections/section-callback.twig' %}
{% endblock %}