<footer class="fw-mt-auto">
    <div class="container">
        <div class="fw-border-box fw-pt-50 fw-pb-40">
            <div class="fw-grid fw-grid-15">
                <div class="fw-width-1-4">
                    <p class="fw-margin-0"><a href="#"><img src="images/logo.png" alt=""></a></p>
                    <p class="fw-font-rubik fw-fz-14 fw-line-height-1-5 fw-mt-10 fw-mb-0">Самые горячие скидки <br>и акции в одном месте</p>
                    <p class="fw-font-rubik fw-fz-14 fw-line-height-1-5 fw-mt-10 fw-mb-0">&copy; 2017</p>
                </div>
                <div class="fw-width-1-4">
                    <ul class="fw-margin-0 fw-padding-0 fw-list-unstyled">
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">О нас</a></li>
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Пресса о нас</a></li>
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Работай с нами</a></li>
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Контакты</a></li>
                    </ul>
                </div>
                <div class="fw-width-1-4">
                    <ul class="fw-margin-0 fw-padding-0 fw-list-unstyled">
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Обратная связь</a></li>
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Обучающий видеоролик</a></li>
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Вопросы и ответы</a></li>
                        <li><a href="#" class="fw-font-rubik fw-color-dark fw-fz-14 fw-line-height-2 fw-text-underline-hover">Публичная оферта</a></li>
                    </ul>
                </div>
                <div class="fw-width-1-4">
                    <p class="fw-font-rubik fw-font-medium fw-fz-14 fw-text-uppercase fw-margin-0">Мы в соц. сетях:</p>
                    <div class="fw-flex fw-mt-20">
                        <div class="fw-mr-10">
                            <a href="#"><i class="icon icon-facebook-circle-grey"></i></a>
                        </div>
                        <div class="fw-mr-10">
                            <a href="#"><i class="icon icon-twitter-circle-grey"></i></a>
                        </div>
                        <div class="fw-mr-10">
                            <a href="#"><i class="icon icon-vk-circle-grey"></i></a>
                        </div>
                        <div>
                            <a href="#"><i class="icon icon-instagram-circle-grey"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>