<header class="fw-bg-cover fw-bg-no-repeat" style="background-image: url('images/header-bg.jpg')">
    <div class="container fw-relative">
        <div class="fw-flex fw-flex-middle fw-border-box fw-pt-35 fw-pb-35">
            <div class="fw-flex-shrink-no">
                <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="fw-flex-grow-1">

            </div>
            <div class="fw-flex-shrink-no">
                <div class="fw-absolute fw-top-0 fw-right-0">
                    <a href="#" class="header-shopping-cart">
                        <i class="icon icon-shopping-cart"></i>
                    </a>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</header>